@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: url(images/img15.png) no-repeat center; 
    background-size: cover;
    height: 500px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/img15.png")
}

.menu{
    height: 3.5em;
    justify-content: space-between;
    padding: 0 2%;
}

.logo {
    width: 55px;
    justify-content: space-between;
    top: 5%;
 }
 
.menu, .navegador { 
    display: flex;
    flex-direction: row;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 nav{
    display: flex;
    height: 80px;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
 }
 
 nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
 }
 
 nav ul li{
    margin: 0 5px;
 }
 
 nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
 }
 nav ul li a.active,
 nav ul li a:hover{
    background: rgba(181,147,88,1);
 }
 
 nav .menu i{
    color: #fff;
    cursor: pointer;
    display: none;
 }
 @media (max-width: 920px) {
    nav .menu i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: rgba(181,147,88,1);
    }   
 }

.traco {
    line-height: 0.0;
    margin-left: 660px;
    margin-right: 660px;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-color: rgba(181,147,88,1); 
}

.texto {
    text-align: center;
    padding-top: 10em;
    height: 100vh;
    transition: 1s;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold; 
}

.texto1 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.espaco {
    background-color: rgba(181,147,88,1);
}

.locEvento {
    text-align: center;
    color: #560303;
    font-weight: bold;
    font-size: 30px;
}

.local {
    text-align: center;
    font-size: 15px;
}

.sessao {
    background-color: rgba(181,147,88,1);
}

.section {
    display: flex;
    column-gap: 100px; 
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
}

.descricao {
    text-align: center;
    font-size: 15px;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #560303;
    font-size: 16px;
    font-style: italic;
}

