@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  
header{
    background: url(images/img14.png) no-repeat center; 
    background-size: cover;/*imagem ajusta ao tamanho do container*/
    height: 500px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/img14.png")
}

.menu{
    height: 3.5em;
    justify-content: space-between;
    padding: 0 2%;
    
}

.logo {
    width: 55px;
    justify-content: space-between;
    top: 5%;
 }
 
 .menu, .navegador { 
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
nav{
   display: flex;
   height: 80px;
   width: 100%;
   
   align-items: center;
   justify-content: space-between;
   padding: 0 50px 0 100px;
   flex-wrap: wrap;
}

nav ul{
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

nav ul li{
   margin: 0 5px;
}

nav ul li a{
   color: #f2f2f2;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   padding: 8px 15px;
   border-radius: 5px;
   letter-spacing: 1px;
   transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
   background: rgba(181,147,88,1);
}

nav .menu i{
   color: #fff;
   cursor: pointer;
   display: none;
}
@media (max-width: 920px) {
   nav .menu i{
       display: block;
   }
   nav ul{
       position: fixed;
       top: 80px;
       left: -100%;
       background-color: black;
       height: 100vh;
       width: 100%;
       text-align: center;
       display: block;
       transition: all 0.3s ease;
   }
   nav ul.open{
       left: 0;
   }
   nav ul li{
       width: 100%;
       margin: 50px 0;
   }
   nav ul li a {
       font-size: 23px;
   }
   nav ul li a.active,
   nav ul li a:hover{
       background: none;
       color: rgba(181,147,88,1);
   }   
}

 .traco {
    line-height: 0.0;
    margin-left: 660px;
    margin-right: 660px;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-color: rgba(181,147,88,1); 
 }
 .texto {
    text-align: center;
    padding-top: 10em;
    height: 100vh;
    transition: 1s;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: bold; 
 }

 .texto1 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.principal {
    background-color: rgba(181,147,88,1);
}

.section { 
    display: flex;
    margin-left: 200px;
    margin-right: 300px;
}

.imagem {
   color: #560303;
   font-weight: bold;
   font-size: 18px;
   padding-right: 120px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.desc {
    font-family: cursive;
    font-style: italic;
    font-size: 18px;
    padding-right: 30px;
    text-align: center;
}

.nome {
    color: #560303;
}

.redesSociais {
   text-align: center;
   font-weight: bold;
   font-size: 16px;
}

.formulario {
   text-align: center;
   font-size: 16px;
}

hr {
	border-top: 1px solid #560303;
}

footer {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   color: #560303;
   font-size: 16px;
   font-style: italic;
}




#carousel-container {
   width: 50%;
   margin: 0 auto;
   overflow: hidden;
   background-color: #fff;
   padding: 10px;
   border-radius: 10px;
}

#carousel {
   display: flex;
   transition: transform 0.5s;
}

#carousel img {
   width: 100%;
   height: auto;
}

#prev, #next {
   cursor: pointer;
   padding: 10px;
   background-color: rgb(27, 15, 1);
   color: white;
   border-radius: 5px;
   margin: 10px; /* Margem para centralizar os botões */
   display: inline-block; /* Para centralizar os botões */
}

#prev:hover, #next:hover {
   background-color: rgba(181,147,88,1) /* Cor de destaque ao passar o mouse */
}